@model Entities.Counter
@{
    ViewData["Title"] = "AddCounter";
}


<h1>Добавление счетчика</h1>
<form asp-controller="ServiceCounters" asp-action="AddCounter">
    <label asp-for="Name">Название счетчика</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="ServiceId">Id услуги</label>
    <input asp-for="ServiceId" />
    <span asp-validation-for="ServiceId"></span>
    <br />
    <label asp-for="SerialNumber">Серийный номер</label>
    <input asp-for="SerialNumber" />
    <span asp-validation-for="SerialNumber"></span>
    <br />
    <label asp-for="Capacity">Кол-во знаков до запятой</label>
    <input asp-for="Capacity" />
    <span asp-validation-for="Capacity"></span>
    <br />
    <label asp-for="DecimalCapacity">Кол-во знаков после запятой</label>
    <input asp-for="DecimalCapacity" />
    <span asp-validation-for="DecimalCapacity"></span>
    <br />
    <label asp-for="InitialValue">Начальные показания</label>
    <input asp-for="InitialValue" />
    <span asp-validation-for="InitialValue"></span>
    <br />
    <label asp-for="CreateData">Дата включения</label>
    <input asp-for="CreateData" />
    <span asp-validation-for="CreateData"></span>
    <br />
    <button type="submit">Сохранить</button>
</form>



