@model IEnumerable<Entities.Service>
@{
    ViewData["Title"] = "Index";
}

<h1>Услуги</h1>
<table class="table">
    <tr>
        <th class="t">Id</th>
        <th class="t">Название</th>
    </tr>

    @foreach (var service in Model)
    {
        <tr>
            <td class="t">@service.Id</td>
            <td class="t">@service.Name</td>
            <td>
                
                <a asp-controller="ServiceRates" asp-action="ShowCounters" asp-route-id="@service.Id" class="button-my">Показать счетчики</a>
                <br />
                <a asp-controller="ServiceRates" asp-action="AddCounter" asp-route-id="@service.Id" class="button-my">Добавить счетчики</a>
            </td>
        </tr>
    }



</table>