@model Entities.Reading
@{
    ViewData["Title"] = "AddReading";
}

<h1>Добавление Показания</h1>
<form asp-controller="ServiceReadings" asp-action="AddReading">

    <label asp-for="ServiceId">Id услуги, к которой привязан тариф</label>
    <input asp-for="ServiceId" />
    <span asp-validation-for="ServiceId"></span>
    <br />
    <label asp-for="CurValue">Значение</label>
    <input asp-for="CurValue" />
    <span asp-validation-for="CurValue"></span>
    <br />
    <label asp-for="TransDate">Дата</label>
    <input asp-for="TransDate" />
    <span asp-validation-for="TransDate"></span>
    <br />
    <button type="submit">Сохранить</button>
</form>



