
@{
    ViewData["Title"] = "ShowDebt";
}

<h1>Задолжность за услугу</h1>
    <tr>
        <th class="t">Сумма Задолжности : </th>
        <td class="t">@ViewData["SumDept"]</td>
    </tr>


<a asp-controller="ServiceReadings" asp-action="Index" Class="button-my">Назад</a>
