@model Entities.Rate
@{
    ViewData["Title"] = "AddRate";
}

<h1>Добавление тарифа</h1>
<form asp-controller="ServiceRates" asp-action="AddRate">

    <label asp-for="Name">Название тарифа</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <label asp-for="Price">Цена за единицу</label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />
    <label asp-for="StartData">Дата начала работы</label>
    <input asp-for="StartData" />
    <span asp-validation-for="StartData"></span>
    <br />
    <label asp-for="EndData">Дата окончания работы</label>
    <input asp-for="EndData" />
    <span asp-validation-for="EndData"></span>
    <br />
    <label asp-for="ServiceId">Id услуги, к которой привязан тариф</label>
    <input asp-for="ServiceId" />
    <span asp-validation-for="ServiceId"></span>
    <br />
    <button type="submit">Сохранить</button>
</form>



